body {
    background-color: #F2F2F2;
    font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    min-height: calc(100vh - 60px);
    border-radius: 20px;
}

h1 {
    font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    color: rgba(58, 9, 231, 0.67);
}

.error {
    color: rgba(173,30,24,0.88);
}

.orders {
    margin: 20px 0;
}

fieldset {
    border: 2px solid #0ddcf7;
    box-shadow: 5px 5px 1px #2fc2c2b0;
    border-radius: 10px;
    margin: 30px;
    padding: 10px 20px;
    text-align: center;
}

legend {
    font-size: 22px;
    font-weight: bold;
    color: #1f008d;
}

.submit, .reset {
    border: 2px solid #1f008d;;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    font-size: 14px;
    color: #000;
}


select {
    padding: 5px;
    margin: 10px 10px;
    border-radius: 10px;
}

input[type=radio], input[type="color"], input[type="range"] {
    margin: 10px 5px;
}

input[type="text"], input[type="date"], input[type="email"], input[type="phone"] {
    margin: 10px 5px;
    border-radius: 5px;
    border: 2px solid #7985f5;
}