body {
    background-color: #cffdf9;
    font-family: 'Roboto', sans-serif;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    min-height: calc(100vh - 60px);
    border-radius: 20px;
}

h1 {
    font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    color: #017e9b;
}

.error {
    color: rgba(173,30,24,0.88);
}

.orders {
    margin: 20px 0;
}

fieldset {
    border-radius: 20px;
    border: 1px solid #acd8d4;
    margin: 30px;
    padding: 10px 25px;
    background-color: #eefffd;
}

legend {
    font-size: 20pt;
    color: #017e9b;
}

.submit, .reset {
    margin: 15px 0 0 30px;
    padding: 20px;
    font-size: 14pt;
    border: none;
    color: black;
    border-radius: 20px;
    background-color: #cffdf9;
    cursor: pointer;
}

select {
    padding: 5px;
    margin: 10px 10px;
    border-radius: 10px;
}

.user_fieldset, .user_label {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14pt;
    padding: 10px 0;
}

input[type=radio], input[type="color"], input[type="range"] {
    margin: 10px 5px;
}

input[type="text"], input[type="date"], input[type="email"], input[type="phone"] {
    margin: 10px 5px 10px 0;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: #cffdf9;
}

a {
    text-decoration: none;
}