body {
    background-color: #F2F2F2;
    font-size: 20px;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    min-height: calc(100vh - 60px);
    border-radius: 20px;
}

h1 {
    font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    color: rgba(173,38,164,0.67);
}

.error {
    color: rgba(173,30,24,0.88);
}

.orders {
    margin: 20px 0;
}

label:not(:nth-last-child(1), :nth-last-child(2)) {
    display: block;
    margin-bottom: 10px !important;
}

fieldset {
    margin-bottom: 10px;
    border-radius: 10px;
    border: black solid;
    border-size: 10px
}

fieldset label{
    display: block;
}

fieldset:last-child {
    text-align: center;
}

.data-user {
    background-color: #e4d8f7;
}

.data-pet {
    background-color: #dcf1dd;
}

legend {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: black solid;
    border-size: 10px
}

label {
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

fieldset:last-child input {
    display: inline;
    padding: 10px;
    background: rgb(8, 16, 50);
    color: white;
    border-radius: 10px;
}

fieldset:last-child label {
    display: inline-block;
}

